@import '../../colors.scss';


.room {
    img{
        width: 100%;
        height: 80vh;
    }
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
}



.info {
    background-color: rgba(15, 13, 13, 0.281);
    border-radius: 2em;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 10em;
    left: 1em;
    h2{
        font-size: 5em;
    }
    width: 70%;
}

.assessments {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 3em;
    padding: 1em;
    border-left: solid $Solid 0.5em;
    border-radius: 0.2em;
    background-color: rgba(245, 245, 245, 0.24);
}

.roomInfo {
    display: flex;

}
.title {
    span {
        color: $Solid;
        font-family: 'Quicksand', sans-serif;
    }
    text-align: left;
}
.buttonsRoom {
    margin: 3em;
   
    span {

        color: black !important;
    }
}





