@import '../../colors.scss';

h2 {
    font-family: 'Megrim', cursive;  
    color: $Solid;
}

.steps {
    min-height: 74vh;
}


@media (max-width: 600px) {
    .footer {
        display: none !important;
    }
}