.form {
    
width: 80%;
// display: flex;
// flex-direction: column;
// justify-content: center;
// align-items: center;
color: whitesmoke !important;
}

.ant-form-item-label > label {
    color: whitesmoke;
}

.ant-btn-primary {
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.514);
}

.register {
    height: 90%;
    display: flex;
    justify-content: center;
    background-image: url(https://images.wallpaperscraft.com/image/forest_fog_trees_147805_3840x2160.jpg);

}

a, area, button, [role="button"], input:not([type="range"]), label, select, summary, textarea {
  color: white;
}


