.profile{
    background-image: url(https://images.wallpaperscraft.com/image/forest_fog_trees_147805_3840x2160.jpg);
height: 90%;
    img {
        width: 10em;
        height: 10em;
        margin: 2em;
        border-radius: 50%;
        border: solid black;
    }
}