.fullAdmin {
    display: flex;
    flex-direction: column;
    min-height: 74vh;
    display: flex;
    align-items: center;
}
.rooms {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.buttons {
    align-items: center;
}

.users {
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 231, 231, 0.185);
    align-items: flex-start;
    padding: 1em;
    border-left: black solid 0.5em;
    margin: 3em;
}

@media (max-width: 600px) {
    .ant-pagination {
        width: 80%;
    }
}

