@import '../colors.scss';

.footer {
    height: 8em;
    background-color: rgba(0, 0, 0, 0.904);
    display: flex;
    align-items: center;
    justify-content: center;
    // border-radius: 74% 26% 70% 30% / 100% 100% 0% 0% ;
   
}