.ant-menu-horizontal {
   display: flex;
   justify-content: center;
   align-items: center;
    height: 5em;
 background-image: url(https://images.wallpaperscraft.com/image/forest_fog_trees_147805_3840x2160.jpg);
 
}
a {
    color: whitesmoke !important;
}

