nav {
    display: flex;
    justify-content: flex-end;
   align-items: center;
   height: 6em;
    a {
        font-size: 1.2em;
        color: whitesmoke !important;
        padding: 4em;
    }
    img {
        width: 5em;
    }
}

.isActive {
    color: pink;
}


@media (max-width: 600px) {

    nav{
        display: flex;
        justify-content: center;
        a{
            padding: 1em;
        }
    }
}