@import './colors.scss';
body, html {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
  color: whitesmoke !important;
  background-image: url(https://images.wallpaperscraft.com/image/forest_fog_trees_147805_3840x2160.jpg);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  height: 100%;
}
#root {
  height: 100%;

}

#preloader {
  height: 100%;
background-image: url(https://images.wallpaperscraft.com/image/forest_fog_trees_147805_3840x2160.jpg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#loader {
  height: 100%;
  display: block;
  position: relative;
  background-image: url(https://images.wallpaperscraft.com/image/forest_fog_trees_147805_3840x2160.jpg);

  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  // border: 3px solid transparent;
  // border-top-color: rgb(112, 219, 210);
  // -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $Solid;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $yellow;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

.ant-input-affix-wrapper ,a, area, button, [role='button'], input:not([type='range']), label, select, summary, textarea
{
 border-radius: 0.5em !important;
 color: whitesmoke !important;
}

a, area, button, [role='button'], input:not([type='range']), label, select, summary, textarea {
  color: whitesmoke !important;
  border-color: $Solid;
  
}

button {
  margin: 0.7em;
  width: 12em;
  border-radius: 1em;

}

.primaryButton {
background-color: $Solid;
width: 12em;
border-radius: 1em !important;
border: black solid;
color: black !important;
margin: 3em;

}
.ant-btn-primary:hover, .ant-btn-primary:focus {
  color: #fff;
  background: $yellow !important;
  border-color: $yellow !important;
}
.secondButton {
  border-radius: 1em !important;
  background-color: rgba(0, 0, 0, 0) !important;
color: $Solid !important;
}


::-webkit-scrollbar {
  border: $Dark solid;
  // border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border: $Dark solid;
  border-radius: 10px;
  background-color: $otro;

}

.ant-btn {
  border-color: $Solid !important;

}

.ant-btn-dashed {
  border-color: $Solid !important;

}

.ant-modal-content {
background-color: rgba(233, 233, 227, 0.274) !important;

}

.ant-modal-header  {
  background-color: rgba(255, 255, 251, 0) !important;
  }

  .ant-modal-footer {
    display: none !important;
  }

  
.ant-list * {
 
  color: $Solid !important;
}

.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
  display: inline !important;
}

.ant-pagination-item-active {
  // font-weight: 500;
  background: rgb(209, 243, 229) !important;
  border-color: rgb(209, 243, 229) !important;
}

.ant-pagination-item, .ant-pagination-next, .ant-pagination-disabled, .ant-pagination-prev {
  margin: 1em !important;
  height: auto !important;

}