@import '../../colors.scss';


.room {
img{
    width: 100%;
    
}
position: relative;
text-align: center;
color: white;
display: flex;
flex-direction: column;
}



.infoHome {
    background-color: rgba(15, 13, 13, 0.281);
    border-radius: 2em;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 15em;
    left: 1em;
    h2{
        font-size: 8em;
    }
    width: 70%;
}


.roomInfo {
    display: flex;

}
.title {
    span {
        color: $Solid;
        font-family: 'Megrim', cursive; 
    }
    text-align: left;
}