@import '../../colors.scss';


.full{
    display: flex;
    padding: 2em;
    justify-content: center;
   flex-wrap: wrap;

}
 
.ant-card-bordered {
    margin: 3em;
    height: 22em;
    border-radius: 0.2em;
    
    border: 0 solid #02020200; 
    box-shadow: 0px 34px 225px -23px rgba(255, 255, 255, 0.603);

    img {
        height: 9em;
        border-top-left-radius: 0.2em;
        border-top-right-radius: 0.2em;

    }
}

.homeInfo{
  

    h2 {
        text-align: center;
        margin: 2em;
    }
    text-align: left;
    width: 50%;
    justify-self: center;
    margin: auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    button {
        margin: 0.7em;
        width: 12em;
        border-radius: 1em;
       
    }
}
.primaryButton {
   background-color: $Solid;
}

h4 {
    color: $yellow
}
.content {
    padding: 2em;
    background-color: whitesmoke;
    color: black;
}
.icons{
    background-color: whitesmoke;
color: black;
    padding: 2em;
    display: flex;
    justify-content: space-evenly;
    img {
        width: 5em;
        margin: 1em;
    }
}

.contact{
    display: flex;
    flex-wrap: wrap;
}
.contactForm {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
 
}

.map{
    height: 70vh;
    width: 50%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    h5 {
        color: whitesmoke;
    }
}


@media (max-width: 600px) {

   .map {
       width: 100%;
       margin: 3em 0;
   }
   .contactForm h2 {
    width: 96%;
}
h2{
    padding: 1.2em;
}
}